:root {
    color-scheme: dark;
    --text-color-secondary: rgb(52, 52, 52);
    --text-color: rgb(194, 194, 194);
    --text-color-light: rgb(255, 255, 255);
}

@font-face {
    font-family: quicksand;
    src: url(/quicksand.ttf);
}

@keyframes smooth {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    font-family: quicksand, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

svg {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    overflow: hidden;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: radial-gradient(circle at bottom left, #29255b 0%, #29255b00 60%) bottom left,
            radial-gradient(circle at top right, #29255b 0%, #29255b00 60%) top right,
            #1b1940;

    background-size: 800px 800px, 600px 600px, cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.smooth {
    animation: smooth 1s 2.5s both;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-light);
}

p, button, input {
    color: var(--text-color);
}

.text-light {
    color: var(--text-color-light) !important;   
}